html
{
    height: 100%;
    width: 100%;
}

body 
{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-style: bold;
    font-size: 32px;
    color: white;
    background-color: rgb(26, 24, 24);
    /* background-color: #2b94a0; */
}

header 
{
    display: flex;
    text-align: center;
    height: 20%;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%
}

a 
{
    color: rgb(232, 148, 38);
    text-decoration: none;
    transition: 0.25s;
}

header > a
{
    font-size: 32px;
}

header > a:hover
{
    color: gray;
}

h1 
{
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
    font-size: 75px;
    font-weight: 700;
    transition: all 0.25s;
}

.container
{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    height: 75vh;
}

.container > div
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid ghostwhite;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.container a
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 125px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 3px white;

}

.container a:hover
{
    color: ghostwhite;
}

.img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}