html{
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-style: bold;
    font-size: 32px;
    color: white;
    background-color: rgb(26, 24, 24);
    /* background-color: #2b94a0; */
}

header {
    text-align: center;
    height: 20%;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
    font-size: 200px;
    font-weight: 700;
    transition: all 1s;
}

.container{
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    height: 75vh;
}

.container > div
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid ghostwhite;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.container a
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 400px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 10px white;
}

.container a:hover{
    color: ghostwhite;
}

.musicpanel::before
{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}