html{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
    font-style: bold;
    font-size: 32px;
    text-align: center;
    color: white;
    background-image: url("../img/acryllic.jpg");
    background-color: #074f57;
    background-size: cover;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    transition: all 1s;
}

a{
    color: white;
    text-decoration: none;
    margin-left: -150%;
    transition: all .5s;
}
a:hover{
    color: rgb(163, 148, 199);
    
}

