html
{
    height: 100%;
    width: 100%;
}

body 
{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-style: bold;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(26, 24, 24);
    /* background-color: #2b94a0; */
}

header 
{
    display: flex;
    text-align: center;
    height: 20%;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%
}

a 
{
    color: rgb(232, 148, 38);
    text-decoration: none;
    transition: 0.25s;
}

a:hover
{
    color: gray;
}

a > img
{
    border: dotted 10px transparent;
    transition: all 0.25s;
}

a > img:hover
{
    border: dotted 10px whitesmoke;
}

header > a
{
    font-size: 2rem;
}

header > a:hover
{
    color: gray;
}

a > h1
{
    transition: 0.25s;
}

a > h1:hover
{
    color: gray;
    
}

.container 
{
    border-top: 10px dotted whitesmoke;
    margin-top: 1rem;
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
    flex-direction: column;
}

.container > h1 
{
    margin-left: 2rem;
}

.project-section
{
    padding-left: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 5%;
}

.project-section > a > img
{
    width: 20vw;
    max-height: 20vw;
    object-fit:cover;
}

.project-text 
{
    align-self: flex-start;
    max-width: 60%;
}

h1 
{
    color: whitesmoke;
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
    font-size: 4rem;
    font-weight: 700;
}

.category-header
{
    margin-left: 2rem;
    margin-bottom: 0px;
    font-size: 4rem;
}

h2
{
    font-style: bold;
    font-size: 4rem;
    font-weight: 700;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

h3
{
    font-size: 2rem;
    font-weight: 500;
}

section
{
    padding: 1rem;
}

@media screen and (width < 750px) 
{
    body
    {
        font-size: 1rem;
    }

    header
    {
        margin-bottom: 1rem;
        flex-direction: column;
    }

    header > a
    {
        font-size: 1rem;
    }

    h1
    {
        font-size: 4rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .project-section > a > img
    {
        min-width: 50vw;
        max-height: 50vh;
        object-fit:cover;
    }

    .project-text 
    {
        max-width: 90%;
    }

    .category-header
    {
        font-size: 2rem;
    }

    .container
    {
        border-top: 5px dotted whitesmoke;
    }
}