
html {
    height: 100%;
}

@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


body {
    font-style: bold;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
    background: linear-gradient(270deg, #81a193, #55517e, #6269a5);
    background-size: 600% 600%;
    -webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
    animation: Gradient 60s ease infinite;
    
}


.center-div
{
     margin: 0 auto;
     width: 100px; 
}

h1 {
    font-size: 60px;
    text-align: center;
    transition: all .7s;
    font-family: sans-serif;
    font-weight: 500;
}

.result {
    font-size: 100px;
    font-family: 'Rubik', sans-serif;
}

.input-line{
    display:inline-block;
    text-align: center;
}

p{
    margin: 0;
}

.input-line  p{
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.input-line form{
    float: left;
}

input {
    width: 75px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    overflow-y:hidden;
    color: white;
    height: 14px;

}

.input-line .centre-input{
    display: inline-block;
    margin-bottom: 16px;
}

input:focus{
    outline:0;
}
.buttonDiv {
    height: 80px;
}
button{
    background: white;
    border: none;
    padding: 16px 32px;
    border-radius: 32px;
    margin-top: 16px;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    box-shadow: 0px 6px rgba(0,0,0,0.2);
}

button:hover{
    margin-top: 18px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 4px rgba(0,0,0,0.2);
}

button:active{
    margin-top: 22px;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0px 0px rgba(0,0,0,0.2);
}